* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(67, 67, 67);
    color: white;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;

    transition: background-color 0.3s ease;
    background-color: #333;
}

.topnav a:hover {
    background-color: rgba(221, 221, 221, 0.805);
    color: black;
}

.topnav a.active {
    background-color: #1781ea;
    color: white;
}

.topnav .icon {
    display: none;
}

.wrapper {
    margin: auto;
    width: 50%;
    padding: 1rem;

    margin-top: 3.6rem;
}

.header {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.sub-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h3.sub-header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.centered {
    background-color: #000;
    padding: 1rem 1rem;
    margin-bottom: 4rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.centered-rounded {
    border-radius: 50%;

    background-color: #1781ea;
    padding: 1rem 1rem;
    margin-bottom: 4rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.page-change ul li a {
    display: block;
    padding: 2rem;
}

.page-change ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-change li {
    background-color: #242424;
}

.page-change a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.page-change a.active {
    background-color: #1781ea;
    color: white;
}

.page-change li a:hover, ul li a:focus {
    background-color: #b0b0b0;
    color: rgb(51, 51, 51);
}

.hobbies ul li a {
    display: block;
    padding: 2rem;
}

.hobbies ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.audio-player {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

#family {
    font-size: 1.4rem;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#family td, #family th {
    padding: 1rem;
}

#family tr:nth-child(even) {background-color: #595959;}

#family th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    background-color: #1781ea;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
}

footer {
    color: white;
    background-color: #000;
    font-size: 1.6rem;
    margin-top: 3rem;
    padding: 6rem;
}
